<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<div id="nav-bar">
  <div *ngIf="!user">
    <app-login></app-login>
  </div>

  <div id="nav" *ngIf="user">
    <div id="nav-content">

      <div id="nav-left">
        <div *ngIf="user">
          <p> Welcome, {{user!.firstName}} {{user!.lastName}}
          <p></p>
        </div>
      </div>

      <div id="nav-right" *ngIf="user">
        <div *ngIf="user">
          <button (click)="onLogOut()">Logout</button>
          <button (click)="onEditProfile()">profile</button>
        </div>

      </div>

    </div>
  </div>
  <div>
  </div>


</div>


<div style="margin-top: 50px;">

  <div *ngIf="isEditingProfile">
    <div class="singlePost" style="margin-top: 50px ">

      <div>
        <!-- <button (click)="onEditPostStart(post)">edit</button>
        <button (click)="deletePostById(post.id)">X</button> -->
      </div>
      <h2>chaneg name</h2>
      <input type="text" [(ngModel)]="userNameDTO.lastName">
      <input type="text" [(ngModel)]="userNameDTO.firstName">
      <button (click)="onUpdateUserName()">update </button>
      <h2>change password </h2>
      <input type="password" [(ngModel)]="userPasswordDTO.password" placeholder="old password">
      <input type="password" [(ngModel)]="userPasswordDTO.newPassword" placeholder="new password">
      <input type="password" [(ngModel)]="userPasswordDTO.newPassword2" placeholder="confrim new password">
      <button (click)="updateUserPassword()">update </button>
    </div>


  </div>
  <div *ngIf="!isAdmin && user && !isEditingProfile">

    <app-post-feed></app-post-feed>
  </div>
  <div *ngIf="isAdmin">

    <app-admin></app-admin>
  </div>

</div>