
<div>
    <p>Post something !</p>
    <input #postTitle type="text">
    <textarea #postMess type="text"></textarea>
    <div id="post-preview">
      <img id="post-preview-image">
    </div>
    <mat-card-actions algin="end">
      <button mat-button color="warn">
          <label>
              <input #photoSelector (change)="onPhotoSelected(photoSelector)" id="photo-upload" type="file" accept="image">
              <mat-icon>insert_photo</mat-icon>
          </label>
      </button>
  </mat-card-actions>
    <button (click)="createPost(postTitle,postMess)">Post !</button>
</div> 

<div *ngIf="isEditing" class="c_editBody" >
  <h3>editing your post</h3>
  <input #postTitle type="text" [(ngModel)]="editingPost.title">
  <textarea #postMess type="text" [(ngModel)]="editingPost.message"></textarea>
  <button (click)="onEditPostDone()">done editing !</button>
</div>
  
<div *ngIf="!isEditing" >
  <div *ngFor="let post of ListOfPost">
    <div class="singlePost">
      
      <label>
        {{post.title}}
      </label>
      <div *ngIf="postBelongToUser(post)">
        <button (click)="onEditPostStart(post)">edit</button>
        <button (click)="deletePostById(post.id)">X</button>
      </div>
      <p>{{post.lastName}}</p>
      <p>{{post.firstName}}</p>
      <p>{{post.message}}</p>
      <p>{{post.imageUrl}}</p>
      <!-- <img src="{{post.imageUrl}}"> -->
      <div *ngIf="post.fileByte">
        <img  mat-card-image src="data:image/jpeg;base64,{{post?.fileByte}}" style="width: 400px"
        alt="Not found" >
      </div>
    </div>
    
  </div>
</div>
