<div *ngIf="selectedPost">
  <router-outlet></router-outlet>
  <button (click)="onBack()">back</button>
</div>

<div *ngIf="!selectedPost">
  <div id="postSection">
    <h2>Post something !</h2>
    <form style="display: flex ; flex-direction: column; ">

      <mat-form-field class="example-full-width">
        <input #postTitle matInput placeholder="Title">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>message </mat-label>
        <textarea #postMess matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>embed you tube link(optional) </mat-label>
        <textarea #postUrl matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>

    </form>

    <div id="post-preview">
      <img style="max-width: 600px; max-height: 400px ;" id="post-preview-image">
    </div>
    <mat-card-actions algin="end">
      <button mat-button color="warn">
        <label>

          <input #photoSelector (change)="onPhotoSelected(photoSelector)" id="photo-upload" type="file" accept="image">

        </label>
      </button>
    </mat-card-actions>
    <button (click)="createPost(postTitle,postMess, postUrl)" mat-raised-button color="primary">Post !</button>
  </div>

  <div *ngIf="isEditing" class="c_editBody">
    <h3>editing your post</h3>
    <input #postTitle type="text" [(ngModel)]="editingPost.title">
    <textarea #postMess type="text" [(ngModel)]="editingPost.message"></textarea>
    <textarea #postMess type="text" [(ngModel)]="editingPost.urlEmbed"></textarea>
    <button (click)="onEditPostDone()">done editing !</button>
  </div>



  <div *ngIf="!isEditing">
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [length]="totalElements"
      (page)="nextPage($event)">
    </mat-paginator>
    <div *ngFor="let post of ListOfPost" id="postFeed">
      <div>
        <div>

          <mat-card (click)="onSelectingPost(post)" routerLink="display-post" [queryParams]="{id: post.id}"
            queryParamsHandling="merge" class="card">
            <mat-card-content>

              <mat-card-title-group>
                <mat-card-title>{{post.title}}</mat-card-title>
                <mat-card-title *ngIf="post!.fileType">
                  <mat-card-title *ngIf="isVideo(post.fileType) || post!.urlEmbed">
                    <mat-icon>ondemand_video</mat-icon>
                  </mat-card-title>
                  <div *ngIf="!isVideo(post.fileType)">
                    <mat-icon>picture_in_picture</mat-icon>
                  </div>
                </mat-card-title>
                <mat-card-subtitle>post by {{post.lastName}} {{post.firstName}}</mat-card-subtitle>
                <div *ngIf="postBelongToUser(post)">
                  <mat-card-actions align="end">
                    <button mat-button (click)="onEditPostStart(post)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-button (click)="deletePostById(post.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-card-actions>
                </div>
              </mat-card-title-group>
          

              <!-- <div *ngIf="post!.urlEmbed">
                <iframe width="500" height="500" [src]="post!.urlEmbed | safe" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>

              </div> -->

              <mat-card-title-group>

                <mat-card-subtitle> {{post.views}}</mat-card-subtitle>
                <mat-card-footer>{{post.createdDate}}</mat-card-footer>
              </mat-card-title-group>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
    </div>
    <mat-paginator [pageSizeOptions]="[3,5, 10, 25, 100]" [pageSize]="5" [length]="totalElements"
      (page)="nextPage($event)"> </mat-paginator>
  </div>
</div>